arrow==1.2.2
awscli==1.24.3
boto3==1.23.3
botocore==1.26.3
click==8.1.2
colorama==0.4.4
dnspython==2.2.1
docutils==0.15.2
dropbox==11.30.0
Flask==2.1.1
Flask-PyMongo==2.3.0
imagekitio==2.2.8
imgkit==1.2.2
itsdangerous==2.1.2
jmespath==1.0.0
Pillow==9.1.0
ply==3.11
pyasn1==0.4.8
pymongo==4.1.0
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.2
stone==3.3.1
Werkzeug==2.1.1
