.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

#profile-image {
    height: 50vh; 
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    border: 8px solid black;
}

h1, h2, h3, h4{
    font-family: 'Source Serif Pro', serif;
}


#logo{
    padding-left: 10px;
    font-family: 'Source Serif Pro', serif;
}

#music-icon{
    font-size: 2.6rem;
}

#profile-genres{
    font-family: 'Source Serif Pro', serif;
    font-size: 2rem;
    background-color: lightgray;
    height: 100%;
}

#profile-instruments{
    font-family: 'Source Serif Pro', serif;
    font-size: 2rem;
    background-color: beige;
    height: 100%;
}

.card .card-reveal{
    padding: 0;
    
}

.card-content{
    background-color: #fafafa;
}

#inner-card-title{
    height: 50px;
    font-family: 'Source Serif Pro', serif;
}

.card-title{
    font-family: 'Source Serif Pro', serif;
}

#profile-header{
    background-color: #B1D0E0;
}

.navbar-color{
    background-color: #3A3845;
}

#profile-title{
    background-color: #3A3845;
    color: white;
}



body{
    background-color: #B1D0E0;
}

#info-card{
    margin-top: 100px;
    height: 300px;
    background-color: #B1D0E0;
    color: black !important;
}

#bio-container{
    margin-left: 80px;
}


.tabs{
    background-color: #B1D0E0;
    
}

.tab a{
    color: blue;
}

#image-upload{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

#image-upload input{
    background-color: #B1D0E0;
}

#file-upload{
    display: none;   
}

#file-selected{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.6vw;
    visibility: hidden;
    position: relative;
    
}

#file-upload-label{
    font-size: 1.4vw;
    height: 40px;
    margin-right: 42px;
    margin-top: 20px;
}

#image-submit-btn{
    height: 40px;
    font-size: 1.4vw;
    margin-top: 20px;

}

#user-images{
    float: left;
    display: inline;
    height: 13vw;
    width: 12vw;
    border-radius: 50%;
    margin-left: 6vw
}

#other-users-link{
    font-size: 2.5vw;
    margin-left: 20%;
    position: relative;
    top: 4.5vw !important;
}

#other-user-instruments{
    
}

#user-info-collapse{
    width: 22vw;
    margin-left: 74%;
    margin-top: -3vw;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 1.1vw;
    padding: 0;

}

#user-info-collapse .collapsible-header{
    text-align: center;
    font-size: 1.3vw;
}

#user-display-div{
    padding-top: 0;
    margin: 0;
}

.follower{
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.5vw;
    padding-right: 2vw;
    margin-left: 2vw;

}

#register-background{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/static/images/instruments-sign-up.jpg");
    background-size: contain;
}

#register-h3{
    font-weight: 600;
    font-size: 3.5vw;
}

#user-search-input{
    color: white;
}

#create-project-panel{
    width: 70%;
    margin-left: 15%;
}

#project-username-div{
    visibility: hidden;
}

#my-projects-panel{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
}

#my-projects-panel h2{
    margin-top: 0;
    text-align: center !important;
}

#projects-panel-apply a{
    width: 6vw;
    font-size: 1.5vw;
    padding:0;
    top: 85px;
    right: 7vw;
    text-align: center;
}

#my-projects-panel-tick {
    border: 2px solid black;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 1.5vw;
    margin-left: 5px;
    padding: 2px;

}

#my-projects-panel-cross {
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    color: red;
    font-size: 1.5vw;
    margin-left: 5px;
    padding: 2px;
}

#contact-chip{
    margin-left: 43%;
}

#dropdown-notifications{
    width: 30vw !important;
    white-space: initial;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1000px){
    #user-search-input{
        color: black;
        padding-left: 5px;
    }

    #dropdown-notifications-side{
        width: 450px !important;
    }
}