{% extends 'base.html'%}
{%block content%}

<h3 class="center-align">Apply to {{thisProject.projectTitle}}</h3>


<div id="create-project-panel" class="row card-panel s8">
    <form class="col s12 m8 offset-m2" method="POST" action="#!">
        <div class="row">
            <div id="project-username-div" class="row">
                <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                    <input id="project-username" name="project-username" value="{{user}}" type="text" minlength="5"
                        maxlength="300" >
                    <label for="project-username">username</label>
            </div>
            
            <div class="input-field col s12">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                    <textarea id="project-message" name="project-message" placeholder="Write any details or messages you would like the project director to know." type="text" minlength="5"
                        maxlength="3000" required></textarea>
                    <label for="project-apply-message">Write a little about yourself.</label>
                </div>
        
                <div class="row">
                    <div class="input-field col s6">
                      <input id="city" name="city" type="text" class="validate">
                      <label for="city">City</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email"  name="email" type="email" class="validate">
                        <label for="email">Contact Email</label>
                    </div>
                </div>
            <div class="input-field col s12">
                <select id="instruments" name="instruments" required multiple>
                    {% for instrument in thisProject.instruments%}
                  <option value="{{instrument}}">{{instrument}}</option>
                  {%endfor%}
                  
                </select>
                
                <label for="instruments">What instrument do you play?</label>
                    
              </div>
              <div class="input-field col s12">
                <select id="genres" name="genres" required multiple>
                    {% for genre in thisProject.genres%}
                    <option value="{{genre}}">{{genre}}</option>
                    {%endfor%}
                  
                </select>
                
                <label for="genres" >Which Genre do you play?</label>
                    
                  
              
              <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                    Submit Application <i class="fas fa-sign-in-alt"></i>
                </button>
            
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        Changed your mind? 
                        <a href="{{ url_for('profile', username=session['user']) }}" class="light-blue-text text-darken-4">Back to profile</a>
                    </p>
                </div>
            </div>
{%endblock%}