{% extends 'base.html'%}
{%block content%}
<h1 class="center">Conversations</h1>
<div class="  ">
<div id="convo-panel" class="card-panel blue-grey darken-1 white-text"> 
{% for chats in myConversations%}
{% if username == chats.members[0]%}
    {% if username == chats.members[0]%}
    <div id="convo-wrapper" class="center">
        <div class="row valign-wrapper">
    <div class="col s5">
    <a  href="{{url_for('messages', usernameToContact=chats.members[1])}}"><h3 id="convo-username" class="left ">{{chats.members[1]}}</h3></a>
    </div>
    <div class="col s5 push-s1">
    <span id="message-count">{{chats.messages|length}} <i class="fa-solid fa-message"></i></span>
    </div>
    </div>
    </div>
    <hr>
    {%else%}
        {% for use in users%}
        {% if chats.members[1] == use.username %}
        <img id="user-images" class="responsive-img  " src="{{use.profile_pic}}" alt="">
        {%endif%}
        {%endfor%}
        <a href="{{url_for('messages', usernameToContact=chats.members[0])}}"><h2>{{chats.members[0]}}</h2></a>
    {%endif%}
{%endif%}    
{%endfor%}
</div>
</div>   

{%endblock%}