{% extends 'base.html'%}
{%block content%}
<!-- Renders all of users current conversations. -->
<div id="messages-bg-image">
    <div style="height: 100%;" class="transparent-bg">
        <h1 style="margin-top:0;padding-top:20px;" class="center">Conversations</h1>
        {% if myConversationsCount == 0%}
        <h2 class="center">You have no conversations.</h2>
        {%else%}
        <div class="">
            <div id="convo-panel" class="card-panel  white-text">
                {% for chats in myConversations%}
                {% if username == chats.members[0]%}
                {% if username == chats.members[0]%}
                <div class="center convo-wrapper">
                    <div class="row valign-wrapper">
                        <div class="col s5">
                            <a href="{{url_for('messages', usernameToContact=chats.members[1])}}">
                                <h3 class="left convo-username">{{chats.members[1]}}</h3>
                            </a>
                        </div>
                        <div class="col s5 push-s1">
                            <span class="message-count">{{chats.messages|length}} <i
                                    class="fa-solid fa-message"></i></span>
                        </div>
                    </div>
                </div>
                <hr>
                {%else%}
                {% for use in users%}
                {% if chats.members[1] == use.username %}
                <img id="user-images" class="responsive-img  " src="{{use.profile_pic}}" alt="">
                {%endif%}
                {%endfor%}
                <a href="{{url_for('messages', usernameToContact=chats.members[0])}}">
                    <h2>{{chats.members[0]}}</h2>
                </a>
                {%endif%}
                {%endif%}
                {%endfor%}
            </div>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}