{% extends "base.html" %}
{% block content %}
{% set listOfInstruments = ['Guitar','Bass Guitar','Mandolin','Violin','Viola','Cello','Trumpet','Trombone','French Horn','Euphonium','Saxophone','Clarinet','Flute','Drums']%}
{% set listOfGenres = ['Rock','Pop','Classical','Jazz','Metal','Blues','Bluegrass','Folk','EDM','Celtic','World']%}
<!-- Form to allow user to update their profile information -->
<div id="create-project-bg-image">
    <div id="edit-profile-container" class="container">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', username=username) }}">
            <div class="card-panel transparent-bg">
                <h3 class="center-align">Edit Profile</h3>

                <div class="row">
                    <div class="input-field col s12">

                        <input id="bio" name="bio" value="{{current_user.bio}}" type="text" minlength="5"
                            maxlength="500" required>
                        <label class="black-text" for="bio">Bio</label>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="first_nameEdit" value="{{current_user.fname}}" name="first_nameEdit" type="text"
                        class="validate">
                    <label class="black-text" for="first_nameEdit">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_nameEdit" value="{{current_user.lname}}" name="last_nameEdit" type="text"
                        class="validate">
                    <label class="black-text" for="last_nameEdit">Last Name</label>
                </div>

                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input id="cityEdit" value="{{current_user.city}}" name="cityEdit" type="text" class="validate">
                        <label class="black-text" for="cityEdit">City</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input id="email" value="{{current_user.email}}" name="email" type="email" class="validate">
                        <label class="black-text" for="email">Email</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <select id="instrumentsEdit" name="instrumentsEdit" multiple>

                        {% for instrument in listOfInstruments%}
                        {% if instrument in current_user.instruments%}
                        <option selected value="{{instrument}}">{{instrument}}</option>
                        {%else%}
                        <option value="{{instrument}}">{{instrument}}</option>
                        {%endif%}
                    {%endfor%}  
                    </select>

                    <label class="black-text" for="instrumentsEdit">What Instruments Do You Play?</label>

                </div>
                <div class="input-field col s12">
                    <select id="genreEdit" name="genreEdit" multiple>
                        {% for genre in listOfGenres%}
                        {% if genre in current_user.genres%}
                        <option selected value="{{genre}}">{{genre}}</option>
                        {%else%}
                        <option value="{{genre}}">{{genre}}</option>
                        {%endif%}
                    {%endfor%}   

                    </select>

                    <label class="black-text" for="genres">What Genres Do You Play?</label>

                </div>

                <!-- register -->
                <div class="row">
                    <div class="col s12 center">
                        <button type="submit" class=" btn ">
                            Update Profile
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="center-align">
                            Changed your mind?
                            <a href="{{ url_for('profile', username=session['user']) }}"
                                class="light-blue-text text-darken-4">Cancel Edit</a>
                        </p>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock %}