{% extends "base.html" %}
{% block content %}
<!-- Form to allow user to update their profile information -->
<div id="create-project-bg-image">
    <div id="edit-profile-container" class="container">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', username=username) }}">
            <div class="card-panel transparent-bg">
                <h3 class="center-align">Edit Profile</h3>

                <div class="row">
                    <div class="input-field col s12">

                        <input id="bio" name="bio" value="{{current_user.bio}}" type="text" minlength="5"
                            maxlength="500" required>
                        <label class="black-text" for="bio">Bio</label>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="first_nameEdit" value="{{current_user.fname}}" name="first_nameEdit" type="text"
                        class="validate">
                    <label class="black-text" for="first_nameEdit">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_nameEdit" value="{{current_user.lname}}" name="last_nameEdit" type="text"
                        class="validate">
                    <label class="black-text" for="last_nameEdit">Last Name</label>
                </div>

                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input id="cityEdit" value="{{current_user.city}}" name="cityEdit" type="text" class="validate">
                        <label class="black-text" for="cityEdit">City</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input id="email" value="{{current_user.email}}" name="email" type="email" class="validate">
                        <label class="black-text" for="email">Email</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <select id="instrumentsEdit" name="instrumentsEdit" multiple>

                        <option value="Guitar">Guitar</option>
                        <option value="Bass Guitar">Bass Guitar</option>
                        <option value="Mandolin">Mandolin</option>
                        <option value="Violin">Violin</option>
                        <option value="Viola">Viola</option>
                        <option value="Cello">Cello</option>
                        <option value="Trumpet">Trumpet</option>
                        <option value="Trombone">Trombone</option>
                        <option value="French Horn">French Horn</option>
                        <option value="Euphonium">Euphonium</option>
                        <option value="Saxophone">Saxophone</option>
                        <option value="Clarinet">Clarinet</option>
                        <option value="Flute">Flute</option>
                        <option value="Drums">Drums</option>

                    </select>

                    <label class="black-text" for="instrumentsEdit">What Instruments Do You Play?</label>

                </div>
                <div class="input-field col s12">
                    <select id="genreEdit" name="genreEdit" multiple>

                        <option value="Rock">Rock</option>
                        <option value="Pop">Pop</option>
                        <option value="Classical">Classical</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Metal">Metal</option>
                        <option value="Blues">Blues</option>
                        <option value="Bluegrass">Bluegrass</option>
                        <option value="Folk">Folk</option>
                        <option value="EDM">EDM</option>
                        <option value="Celtic">Celtic</option>
                        <option value="World">World</option>

                    </select>

                    <label class="black-text" for="genres">What Genres Do You Play?</label>

                </div>

                <!-- register -->
                <div class="row">
                    <div class="col s12 center">
                        <button type="submit" class=" btn ">
                            Update Profile
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="center-align">
                            Changed your mind?
                            <a href="{{ url_for('profile', username=session['user']) }}"
                                class="light-blue-text text-darken-4">Cancel Edit</a>
                        </p>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
<script>
    var instrumentsArray = {
        {
            current_user.instruments | safe
        }
    }
    var genreArray = {
        {
            current_user.genres | safe
        }
    }
    var optionsToSelect = instrumentsArray
    var optionsToSelectGenre = genreArray
    var select = document.getElementById('instrumentsEdit')
    var selectGenre = document.getElementById('genreEdit')
    for (var i = 0, l = select.options.length, o; i < l; i++) {
        o = select.options[i];
        if (optionsToSelect.indexOf(o.text) != -1) {
            o.selected = true;
        }
    }

    for (var i = 0, l = selectGenre.options.length, o; i < l; i++) {
        o = selectGenre.options[i];
        if (optionsToSelectGenre.indexOf(o.text) != -1) {
            o.selected = true;
        }
    }
</script>

{% endblock %}