{% extends 'base.html'%}

{%block content%}
<div id="create-project-bg-image">
<div style="height: 100%;" class="transparent-bg">
  <h1 id="follower-heading" class="center">Following</h1>
  {% if current_user.following|length > 0%}
  <ul>
      {% for use in users%}
      {%if use.username in current_user.following%}
      <div id="all-users-row" class="row">
        <div class="center row s12">
      <li>
          <div id="user-display-div" class="col l4 md12 s12 center">
              <img id="user-images" class=" " src="{{use.profile_pic}}" alt="">
          </div>
          <div class="col l4 md12 s12">   
              <a id="other-users-link" href="{{url_for('other_profile', usernameOther=use.username )}}" class=''>{{use.username}}</a>
          </div>
          <br>
          <div class="col l4 md12 s12">    
                  <ul id="user-info-collapse" class="collapsible s12  ">
                      <li> 
                        <div class="collapsible-header  "><i class="material-icons"></i>Instruments</div>
                        <div class="collapsible-body  "><span>
                            {%for instrument in use.instruments%}
                              <span>{{instrument}},</span>
                            {%endfor%}
                        </span>
                      </div>
                      </li>
                      <li>
                        <div class="collapsible-header  "><i class="material-icons"></i>Genres</div>
                        <div class="collapsible-body "><span>
                          
                          {%for genre in use.genres%}
                          <span>{{genre}},</span>
                          {%endfor%}
                          
                        </span>
                      </div>
                      </li>
                      <li>
                        <div class="collapsible-header   "><i class="material-icons"></i>City</div>
                        <div class="collapsible-body   "><span>
                            <p>{{use.city}}</p>
                        </span>
                      </div>
                      </li>
                    </ul>
              
              
          </div>
      </li> 
    </div>
    </div>
    <br>
      <hr>
      {%endif%}
      {% endfor%}
  </ul>
  {%else%}
  <div class="row">
  <h3 class="center">You aren't currently following anyone.</h3>
  {%endif%}
  </div>
</div>
</div>
{%endblock%}

