{% extends 'base.html'%}
{% block content %}
{% set listOfInstruments = ['Guitar','Bass Guitar','Mandolin','Violin','Viola','Cello','Trumpet','Trombone','French Horn','Euphonium','Saxophone','Clarinet','Flute','Drums']%}
{% set listOfGenres = ['Rock','Pop','Classical','Jazz','Metal','Blues','Bluegrass','Folk','EDM','Celtic','World']%}
<!-- Form to allow user to update information about one of their projects, and also to accept or deny project applications. -->
<div id="create-project-bg-image">
    {% set noOfFiles = thisProject.projectFiles|length%}
    <div id="create-project-panel" class=" card-panel">
        <h3 class="center-align">Manage Project: {{thisProject.projectTitle|title}}</h3>
        <form class="col s12 m8 offset-m2" method="POST" action="#!">
            <div class="row">
                <div id="project-username-div" class="row">
                    <input id="project-username" name="project-username" value="{{user}}" type="text" minlength="5"
                        maxlength="300">
                    <label class="black-text" for="project-username">username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project-title" name="project-title" value="{{thisProject.projectTitle}}" type="text"
                        minlength="5" maxlength="300" required>
                    <label class="black-text" for="project-title">Project Title</label>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="input-field col s12 create-project-label">
                    <input id="project-description" name="project-description"
                        value="{{thisProject.projectDescription}}" type="text" minlength="5" maxlength="3000"
                        required></input>
                    <label class="black-text" for="project-description">Project Description</label>
                </div>

                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input id="city" name="city" type="text" value="{{thisProject.city}}" class="validate">
                        <label class="black-text" for="city">City</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input id="email" value="{{user.email}}" name="email" value="{{thisProject.email}}" type="email"
                            class="validate">
                        <label class="black-text" for="email">Contact Email</label>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 create-project-label">
                <select id="instruments" name="instruments" required multiple>
                    {% for instrument in listOfInstruments%}
                        {% if instrument in thisProject.instruments%}
                        <option selected value="{{instrument}}">{{instrument}}</option>
                        {%else%}
                        <option value="{{instrument}}">{{instrument}}</option>
                        {%endif%}
                    {%endfor%}  
                </select>

                <label class="black-text" for="instruments">Instruments Needed</label>

            </div>
            <div class="input-field col s12 create-project-label">
                <select id="genres" name="genres" required multiple>
                    {% for genre in listOfGenres%}
                        {% if genre in thisProject.genres%}
                        <option selected value="{{genre}}">{{genre}}</option>
                        {%else%}
                        <option value="{{genre}}">{{genre}}</option>
                        {%endif%}
                    {%endfor%}    
                </select>

                <label class="black-text" for="genres">Genres Needed</label>


            </div>
            <div id="manage-project-btn" class="row">
                <button type="submit" class=" btn btn-large">
                    Make Changes
                </button>
                <a id="projectDelete" href="#modal2" class="btn-large red-btn red modal-trigger ">
                    Delete Project
                </a>

            </div>
        </form>
        <div class="row">
            <div class="col s12">
                <p class="center-align">
                    Changed your mind?
                    <a href="{{ url_for('profile', username=session['user']) }}"
                        class="light-blue-text text-darken-4">Back to profile</a>
                </p>
            </div>
        </div>
    </div>
    <div id="project-members-panel" class="card-panel">

<!-- Section to display and manage project members or applications -->
        <h3 class="center">Project Members</h3>
        {% if members|length == 0%}
        <h5 class="center card-panel red lighten-2 black-text ">No current members.</h5>
        {%else%}
        {% for member in members%}
        <div id="manage-project-member-div" class="yellow-bg card-panel white-text">
            <a class="white-text" href="{{url_for('other_profile', usernameOther=member.memberUsername )}}">
                <h4>{{member.memberUsername}}</h4>
            </a>

            <span>{{member.memberInstrument}}</span>
            <a id="remove-member-btn" style="border: 2px solid #b60000;"
                href="{{url_for('remove_member', thisProject=thisProject._id, member=member.memberUsername, thisProjectTitle=thisProject.projectTitle)}}"
                class=" btn red red-btn right">Remove</a>

        </div>
        {%endfor%}
        {%endif%}
        <h3 class="center">Project Applications</h3>
        {% if applications|length == 0%}
        <h5 class="center card-panel red lighten-2 black-text ">No current applications.</h5>
        {%else%}
        {% for apply in applications%}
        <div id="application-to-project" class="card-panel center-align">
            <a href="{{url_for('other_profile', usernameOther=apply.applicantUsername )}}">
                <h4>{{apply.applicantUsername}}</h4>
            </a>
            <div class="row s12">
                <div>
                    <h5>Project Message</h5>
                    <p>{{apply.projectMessage}}</p>
                </div>
                <div>
                    <h5>Instrument</h5>
                    {% for instrument in apply.instruments%}
                    <p>{{instrument}}</p>
                    {%endfor%}
                </div>
            </div>
            <a href="{{url_for('accept_application', applicant=apply.applicantUsername,applicantInstrument=apply.instruments[0], thisProject=thisProject._id, thisProjectTitle= thisProject.projectTitle)}}"
                class="waves-effect waves-light  btn">Accept</a>
            <a id="application-denied-btn"
                href="{{url_for('deny_application', applicant=apply.applicantUsername, thisProject=thisProject._id,thisProjectTitle= thisProject.projectTitle)}}"
                class="waves-effect waves-light btn red red-btn">Deny</a>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content center">
        <h4>Are you sure you want to delete this project?</h4>
        <p>Deleting the project is irreversible and will also delete all related project files and comments.</p>
    </div>
    <div class="row">
        <div class="modal-footer center">
            <div class="col s12 center">
                <a href="{{url_for('delete_project',thisProjectId=thisProject._id, thisProjectTitle=thisProject.projectTitle, noOfFiles=noOfFiles)}}"
                    class=" modal-close waves-effect waves-green btn-flat red white-text center">Delete</a>
                <a href="#!" class=" modal-close waves-effect waves-green btn-flat grey white-text center">Cancel</a>
            </div>
        </div>
    </div>
</div>

</div>
{%endblock%}