{% extends 'base.html'%}
{%block content%}  
{% for project in projects%}
    <div id="my-projects-panel" class="card-panel">
        <h3 class="center-align">{{project.projectTitle}}</h3>
        {%if project.completed == false%}
                <p class="center-align">This project is still active!<i id="my-projects-panel-tick"  class="fa-solid fa-check"></i></p>
                {%else%}
                <p class="center-align"> This project is no longer active.<i id="my-projects-panel-cross" class="fa-solid fa-circle-xmark "></i></p>
                {%endif%}
        <div class="row">
            <div class="col s4">
                <h4>About the project</h4>
                <p>{{project.projectDescription}}</p>
                <p>{{project.city}}</p>
            </div>
            <div class="col s4">
                <h4>Instruments & Genre</h4>
                <p>
                    I am looking for:
                    {%for instrument in project.instruments%}
                   <li>{{instrument}}</li> 
                    {%endfor%}
                    The main genre(s) are:
                    {%for genre in project.genres%}
                   <li>{{genre}}</li> 
                    {%endfor%}
                </p>
            </div>
            <div class="col s4">
                <h4>Project Status</h4>
                
            </div>
        </div>
        
    </div>
    
    {% else %} 
    <h1>You currently have no projects.</h1>
{%endfor%}   


{%endblock%}