{% extends 'base.html'%}
{%block content%}  
<h1 class="center">My Projects</h1>
<hr>
<h3 class="center-align">You currently have {{project_number}} existing projects.</h3>
{% for project in projects%}


    <div id="my-projects-panel" class="card-panel blue-grey darken-1">
        {%if project.completed == false%}
                <span class="">This project is still active!<i id="my-projects-panel-tick"  class="fa-solid fa-check"></i></span>
                {%else%}
                <span class=""> This project is no longer active.<i id="my-projects-panel-cross" class="fa-solid fa-circle-xmark "></i></span>
                {%endif%}
                <div class="row s4 right">
                    <div id="projects-panel-apply" class="col s4">
                        <span id="myProjects-buttons" ><a href="{{url_for('manage_project', thisProject=project._id)}}" class="waves-effect waves-light btn">Manage</a>
                        <a id="view-btn" href="{{url_for('project_hub', thisProject = project._id)}}" class="waves-effect waves-light btn">View</a></span>
                        <br>
                           
                    </div>
                    </div>
        <div class="row center">     
        <h2 id="my-projects-title" class="center-align ">{{project.projectTitle|title}}</h2>
        <div id="contact-chip" class="chip center">
            <img src="{{username.profile_pic}}" alt="{{user.username}}'s profile photo">
        <span> Created by: <a href="{{url_for('other_profile', usernameOther=project.username )}}">{{project.username}}</a></span>
        </div>    
        </div>   
        
                
        <div class="row s12">
            <div  class="col l6 m6 s12  push-l1 left about-the-project">
                <h4>About the project</h4>
                <p>{{project.projectDescription}}</p>
                <p>{{project.city}}</p>
            </div>
            <div  class="col l6  m6 s12 push-l1 right instruments-and-genre">
                <h4>Instruments & Genre</h4>
                <p>
                    I am looking for:
                    {%for instrument in project.instruments%}
                   <li>{{instrument}}</li> 
                    {%endfor%}
                    The main genre(s) are:
                    {%for genre in project.genres%}
                   <li>{{genre}}</li> 
                    {%endfor%}
                </p>
            </div>
           
        </div>
        
    </div>
    
    
{%endfor%}   


{%endblock%}