{% extends 'base.html'%}
<!-- Displays other site users based on search criteria -->
{%block content%}
<div id="create-project-bg-image">
  <div class=" transparent-bg s12">
    <h1 id="filter-user-header" class="center">Users matching: "{{cityQuery}} {{instrumentsQuery|join}}
      {{genresQuery|join}}"</h1>
    <!-- Takes search criteria and makes parses them so they can be used in if statements -->
    {% if instrumentsQuery != ['']%}
    {% set instrumentQuery = instrumentsQuery|join%}
    {%else%}
    {% set instrumentQuery = "notAnInstrument" %}
    {%endif%}

    {% if genresQuery != ['']%}
    {% set genresQuery = genresQuery|join%}
    {%else%}
    {% set genresQuery = "notAnInstrument" %}
    {%endif%}


    {% if cityQuery|length == 0%}
    {% set cityQuery = "notACity" %}
    {%else%}
    {% set cityQueryLower = cityQuery|lower %}
    {% set cityQueryUpper = cityQuery|capitalize%}
    {%endif%}


    {% for use in users%}
    <ul>
      {% if instrumentQuery in use.instruments|join or genresQuery in use.genres|join or cityQueryLower in use.city or cityQueryUpper in use.city%}
      <div class="row all-users-row">
        <div class="center row s12">
          <li>

            <div class="col l4 md12 s12 center user-display-div">
              <img class=" user-images" src="{{use.profile_pic2 + '?tr=w-500,h-500'}}"
                alt="{{use.username}}'s profile photo">
            </div>
            <div class="col l4 md12 s12">
              <a class="other-users-link link" href="{{url_for('other_profile', usernameOther=use.username )}}"
                class=''>{{use.username}}</a>
            </div>
            <div class="col l4 md12 s12">
              <ul style="margin: 10px 0 10px 0 !important;" class="collapsible s12 user-info-collapse">
                <li>
                  <div class="collapsible-header  "><i class="material-icons"></i>Instruments</div>
                  <div class="collapsible-body  "><span>
                      {%for instrument in use.instruments%}
                      {% if instrumentQuery == instrument%}
                      <span class="relevantUserInstrument">{{instrument}},</span>
                      {%else%}
                      <span>{{instrument}},</span>
                      {%endif%}
                      {%endfor%}
                    </span></div>
                </li>
                <li>
                  <div class="collapsible-header  "><i class="material-icons"></i>Genres</div>
                  <div class="collapsible-body "><span>

                      {%for genre in use.genres%}
                      {% if genresQuery == genre%}
                      <span class="relevantUserInstrument">{{genre}},</span>
                      {%else%}
                      <span>{{genre}},</span>
                      {%endif%}
                      {%endfor%}

                    </span></div>
                </li>
                <li>
                  <div class="collapsible-header   "><i class="material-icons"></i>City</div>
                  <div class="collapsible-body   "><span>
                      {% if cityQuery == use.city%}
                      <span class="relevantUserInstrument">{{use.city}}</span>
                      {%else%}
                      {{use.city}}
                      {%endif%}
                    </span></div>
                </li>
              </ul>
            </div>
          </li>
        </div>
      </div>
    </ul>
    <hr>
    {% endif %}
    {% endfor%}


  </div>
</div>

{%endblock%}