{% extends "base.html"%}

{% block content %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class=" grey lighten-5 z-depth-1 ">
    <div class="row valign-wrapper ">
      <div id="profile-header" class="col s12 ">

        <div class="row s12">
          <img src="{{current_user.profile_pic}}" alt="" id="profile-image" class="circle  s12 left responsive-img ">
          <!-- notice the "circle" class -->

          <div id="bio-container" class="col s8 center m6">

            <div class="container">
              <div class="row">
                <div class="col s12">
                  <h2>About {{username}}</h2>
                  <div class="card">
                    <div class="card-tabs">
                      <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#test4">Bio</a></li>
                        <li class="tab"><a class="active" href="#test5">Instruments</a></li>
                        <li class="tab"><a href="#test6">Genres</a></li>
                      </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                      <div id="test4">{{current_user.bio}}</div>
                      <div id="test5">
                        <ul>
                          {% for instrument in current_user.instruments%}
                          <li>
                            {{instrument}}
                          </li>
                          {%endfor%}
                        </ul>
                      </div>
                      <div id="test6">
                        <ul>
                          {% for genre in current_user.genres%}
                          <li>
                            {{genre}}
                          </li>
                          {%endfor%}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          
          
        </div>
        <div class="center-align row s12">
          <a href="{{ url_for('edit_profile') }}" class=" waves-effect waves-light btn">Edit Profile</a>
        </div>
      </div>

    </div>

  </div>

</div>



</div>
</div>
</span>
</div>

{% endblock %}