{% extends 'base.html'%}
{% block content %}
<div class="row s12 card-panel">
<h1 class="center">{{thisProject.projectTitle|capitalize}}</h1>

<h5 class="center">Host: <a href="{{url_for('other_profile', usernameOther=thisProject.username )}}">{{thisProject.username}}</a></h5>

<div class="row l6 m12 s12">
    
    
        <div class="col card-panel l6 m12 s12">
            
            <h2 class="center">Project Information</h2>
            <div class="row s12">
            <div class="center">
            <h4>Project Description</h4>
            <p>"{{thisProject.projectDescription}}"</p>
            </div>
            <div class="center">
            <h4 class="">Project Members</h4>
            {% if members|length == 0%}
                    <h4 class="">No current members.</h4>
                {%else%}
                {% for member in members%}   
                <div class="">
                    <a href="{{url_for('other_profile', usernameOther=member.memberUsername )}}"><h4>{{member.memberUsername}}</h4></a>
                    <span>{{member.memberInstrument}}</span>
                </div>
                {%endfor%}
            {%endif%} 
        </div>
        
        </div> 
        
    </div>
    <div id="comments-panel" class="col card-panel l5 m12 s12 right">
        <h3 class="center">Comments</h3>
        <hr>
        <div id="comment-container" class="col s12">
            {% for comment in thisProject.comments%}
            {% if comment.username == thisProject.username%}
            <span><i class="fa-solid fa-star"></i><a id="host-comment" href="{{url_for('other_profile', usernameOther=comment.username )}}">{{comment.username}}</a>: {{comment.userComment}}
                <span class="comment-date">{{comment.date}}</span> </span>
                <hr>
                <br>
            {%else%}    
            <span><a href="{{url_for('other_profile', usernameOther=comment.username )}}">{{comment.username}}</a>: {{comment.userComment}}
             <span class="comment-date">{{comment.date}}</span> </span>
             <hr>
             <br>
            {%endif%} 
            {%endfor%}
        </div>
        <form class="" method="POST" action="{{ url_for('add_comment', thisProject = thisProject._id) }}">
            <div class="input-field col s12">
                <i class="fa-solid fa-comment prefix light-blue-text text-darken-4"></i>
                <textarea id="addComment" name="addComment" type="text" minlength="5"
                    maxlength="300" required></textarea>
                <label for="addComment">Write a comment</label>
            </div>
            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Comment <i class="fas fa-sign-in-alt"></i>
            </button>
        </form>    
    </div>
            
        </div>
        <div class="row s12">
        <div class="card-panel">
            <h2 class="center">Project Files</h2>
            {% if projectFilesNumber < 1%}
            <h4 class="center">There are currently no files for this project.</h4>
            {%else%}
            {% for file in projectFiles%}
            <div id="file-panel" class="card-panel">
            <a href="{{file.file}}" target="_blank">{{file.displayName}}</a>
            <p>"{{file.fileDescription}}"</p>
            <p>Uploaded by: <a href="{{url_for('other_profile', usernameOther=file.uploader )}}">{{file.uploader}}</a></p>
            <p class="comment-date">{{file.date}}</p>
            </div>
            {%endfor%}
            
            {%endif%}
        <div>  
        <a class="btn" href="{{url_for('upload_project_files', thisProject=thisProject._id)}}">Upload Files</a>
        </div>  
    </div>
</div>


</div>
{%endblock%}
