{% extends 'base.html'%}
{% block content %}
<h1 class="center-align">Upload Project Files for {{thisProjectTitle}}</h1>
<div id="project-image-upload" class="card-panel center-align">
    <span id="file-selected"></span>
        <form method="post" enctype="multipart/form-data">
            <label id="file-upload-label" for="file-upload" type="file" class="btn">Choose File</label>
        <input required class="btn" id="file-upload" type="file" name="file1" accept=".jpg,.png,.gp,.etf,.mp3,.mp4,.wav,.flac,.pdf">
        <button id="image-submit-btn" class='btn' type="submit">Submit</button>
        <br>
        <label  type="text" for="file-name">Name Your File</label>
        <input pattern="[^' ']+" id="file-name" name="file-name" type="text" placeholder="seperate each word with a hyphen ( - ) and don't include any blank spaces.">
        
        
        </form>
        
</div>    
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Changed your mind? 
            <a href="#!" class="light-blue-text text-darken-4">Back to project</a>
        </p>
    </div>
</div>
{% endblock %}

