{% extends 'base.html'%}
{% block content %}
<!-- Displays list of projects that the user is a member of  -->
<div id="create-project-bg-image">
    <div class="transparent-bg">
        {% if projectsImInNumber == 0%}
        <h1 class="center">You are not a member in any projects.</h1>
        {%else%}
        <h1 class="center">Projects I'm In</h1>
        {% for projects in projectsImIn%}
        <div class="center card-panel white-text convo-wrapper">
            <div class="row l4 m12 s12 ">
                <div class="projects-im-in-element  l2  m12">
                    <h2 class=" white-text col s12"><a
                            href="{{url_for('project_hub', thisProject = projects._id)}}">{{projects.projectTitle|title}}</a>
                    </h2>
                </div>
                <div class="projects-im-in-element col l4 m6 s12  center">
                    <h5 class=" center">Project Description</h5>
                    <span class="center projects-im-in-desc">"{{projects.projectDescription}}"</span>
                </div>
                <div class="projects-im-in-element col m6 s12 right">
                    <div class="center projects-im-in-counters">
                        <span style="font-size: 1.8rem;" class="message-count">{{projects.projectMembers|length}} <i
                                class="fa-solid fa-people-group white-text"></i></span>
                        <br>
                        <span class="message-count">{{projects.comments|length}} <i
                                class="fa-solid fa-comment"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>
{%endblock%}