{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Compose an Account</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="input-field col s6">
                <input  id="first_name" name="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" name="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            <!-- password -->
            
                <div class="row s12">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="password" name="password"type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="passwordConfirm" name="passwordConfirm" type="password">
                                <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match" data-success="Password Match">Password (Confirm)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                      <input id="city" name="city" type="text" class="validate">
                      <label for="city">City</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
            <div class="input-field col s12">
                <select id="instruments" name="instruments" multiple>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="Guitar">Guitar</option>
                  <option value="Bass Guitar">Bass Guitar</option>
                  <option value="Mandolin">Mandolin</option>
                  <option value="Violin">Violin</option>
                  <option value="Viola">Viola</option>
                  <option value="Cello">Cello</option>
                  <option value="Trumpet">Trumpet</option>
                  <option value="Trombone">Trombone</option>
                  <option value="French Horn">French Horn</option>
                  <option value="Euphonium">Euphonium</option>
                  <option value="Saxophone">Saxophone</option>
                  <option value="Clarinet">Clarinet</option>
                  <option value="Flute">Flute</option>
                  <option value="Drums">Drums</option>
                  
                </select>
                
                <label for="instruments">What Instruments Do You Play?</label>
                    
              </div>
              <div class="input-field col s12">
                <select id="genres" name="genres" multiple>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="Rock">Rock</option>
                  <option value="Pop">Pop</option>
                  <option value="Classical">Classical</option>
                  <option value="Jazz">Jazz</option>
                  <option value="Metal">Metal</option>
                  <option value="Blues">Blues</option>
                  <option value="Bluegrass">Bluegrass</option>
                  <option value="Folk">Folk</option>
                  <option value="EDM">EDM</option>
                  <option value="Celtic">Celtic</option>
                  <option value="World">World</option>
                  
                </select>
                
                <label for="genres" >What Genres Do You Play?</label>
                    
              </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>

    </form>
</div>


<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered?
            <a href="" class="light-blue-text text-darken-4">Log In</a>
        </p>
    </div>
</div>
{% endblock %}