{% extends 'base.html'%}
{%block content%}
<h1 class="center">Settings</h1>
<div class="row">
    <div class="col s12">
        <a style="background-color: red!important;" href="#modal3" class=" waves-effect red waves-light btn white-text modal-trigger">Delete Account</a>
    </div>
</div>

<div id="modal3" class="modal">
    <div class="modal-content center">
      <h4>Are you sure you want to delete your account?</h4>
      <p>This action is irreversible and will remove all profile and project data.</p>
    </div>
    <div class="row">
    <div class="modal-footer center">
        <div class="col s12 center" >
      <a href="{{ url_for('delete_account')}}" class=" modal-close waves-effect waves-green btn-flat red white-text center">Delete</a>
      <a href="#!" class=" modal-close waves-effect waves-green btn-flat grey white-text center">Cancel</a>
      </div>
    </div>
</div>
  </div>

{%endblock%}