{% extends 'base.html'%}
{% block content %}
<h1 class="center-align">Upload New Profile Image</h1>
<div id="image-upload" class="card-panel center-align">
    <span id="file-selected"></span>
        <form method="post" enctype="multipart/form-data">
            <label id="file-upload-label" for="file-upload" type="file" class="btn">Choose File</label>
        <input required class="btn" id="file-upload" type="file" name="file1" accept=".jpg,.png">
        <button id="image-submit-btn" class='btn' type="submit">Submit</button>
        </form>
        
</div>    
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Changed your mind? 
            <a href="{{ url_for('profile', username=session['user']) }}" class="light-blue-text text-darken-4">Cancel Edit</a>
        </p>
    </div>
</div>
{% endblock %}

